<div class="options-header">

    <button mat-mini-fab (click)="addItem()" class="add-button cols-2">
    <mat-icon>add</mat-icon>
  </button>
    <button mat-mini-fab class="destroy-button" (click)="destroy()">
    <mat-icon>delete</mat-icon>
  </button>
</div>


<gridster [options]="options" *ngIf="!remove">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
        <div class="button-holder">
            <button mat-mini-fab (mousedown)="removeItem($event, item)" (touchstart)="removeItem($event, item)">
        <mat-icon>delete</mat-icon>
      </button>
        </div>
    </gridster-item>
</gridster>