app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

app-kiosk {
  width: 100%;
  height: 100%;
  overflow: auto;
  /*display: flex;*/
  /*flex-direction: row;*/
}

/*app-start {*/
/*  width: 100%;*/
/*}*/

gridster-item div.button-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


