<!--<mat-nav-list>-->
<!--&lt;!&ndash;  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" mat-list-item> Home</a>&ndash;&gt;-->
<!--  <a routerLink="/kiosk" routerLinkActive="active" mat-list-item> API</a>-->
<!--&lt;!&ndash;  <a routerLink="/compact" routerLinkActive="active" mat-list-item> Compact</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="/displayGrid" routerLinkActive="active" mat-list-item> Display Grid</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="/drag" routerLinkActive="active" mat-list-item> Drag</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a mat-list-item routerLink="/dynamicWidgets" routerLinkActive="active"> Dynamic Widgets</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="/emptyCell" routerLinkActive="active" mat-list-item> Empty Cell</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="/gridEvents" routerLinkActive="active" mat-list-item> Grid Events</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="/gridMargins" routerLinkActive="active" mat-list-item> Grid Margins</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="/gridSizes" routerLinkActive="active" mat-list-item> Grid Sizes</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="/gridTypes" routerLinkActive="active" mat-list-item> Grid Types</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="/items" routerLinkActive="active" mat-list-item> Items</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="/push" routerLinkActive="active" mat-list-item> Push</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="/resize" routerLinkActive="active" mat-list-item> Resize</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="/swap" routerLinkActive="active" mat-list-item> Swap</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="/misc" routerLinkActive="active" mat-list-item> Misc</a>&ndash;&gt;-->
<!--</mat-nav-list>-->

<!-- As component /* problem with flex-direction */-->
<!--<app-start name="{{ name }}"></app-start>-->
<app-kiosk></app-kiosk>
<!-- As routes-->
<!--<router-outlet></router-outlet>-->
