<iframe
        src="https://www.meteoblue.com/fr/meteo/widget/three/strasbourg_france_2973783?geoloc=fixed&nocurrent=0&noforecast=0&days=7&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=image"
        frameborder="0"
        scrolling="NO"
        allowtransparency="true"
        sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox">
</iframe>
<a href="https://www.meteoblue.com/fr/meteo/semaine/strasbourg_france_2973783?utm_source=weather_widget&utm_medium=linkus&utm_content=three&utm_campaign=Weather%2BWidget"></a>
